<html>
	<head><title>Character view</title></head>
	<body>
		<div>
			Name: <%= character.name %>
		</div>
		<div>
			Height: <%= character.height %>
			Mass: <%= character.mass %>
		</div>
		<div>
			Hair color: <%= character.hair_color %>
			Skin color: <%= character.skin_color %>
			Eye color: <%= character.eye_color %>
		</div>
		<div>
			Birth Year: <%= character.birth_year %>
			Gender: <%= character.gender %>
		</div>
	</body>
</html>
